.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -2px;
  font-family: "bm-dohyeon";
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
