@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -2px;
  font-family: 'Jua';
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
